[project]
name = "benchmarks"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = [
    "curl-cffi>=0.13.0",
    "matplotlib>=3.10.7",
    "pandas>=2.3.3",
]
